<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventualitypoc-cloud-ppc-person-dev-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/479dfc82-609f-49fc-a59e-0275dbcecc87/resourceGroups/eventualitypoc-cloud-dev-rg/providers/Microsoft.Web/sites/eventualitypoc-cloud-ppc-person-dev-func</ResourceId>
    <UserName>$eventualitypoc-cloud-ppc-person-dev-func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://eventualitypoc-cloud-ppc-person-dev-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>